
.number-input input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;

}

.number-input input[type=number]::-webkit-inner-spin-button,
.number-input input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.number-input {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.number-input button {
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 0;
    position: relative;
}

.number-input button:before,
.number-input button:after {
    display: inline-block;
    position: absolute;
    content: '';
    height: 2px;
    transform: translate(-50%, -50%);
}

.number-input button.plus:after {
    transform: translate(-50%, -50%) rotate(90deg);
}

.number-input input[type=number] {
    text-align: center;
}

.number-input.number-input {
    border: 1px solid #ced4da;
    width: 12rem;
    border-radius: .25rem;
    height: 38px;
    background-color: #02a45c;
}

.number-input.number-input button {
    width: 2.6rem;
    height: .7rem;
}

.number-input.number-input button.minus {
    padding-left: 10px;
}

.number-input.number-input button:before,
.number-input.number-input button:after {
    width: .7rem;
    background-color: #495057;
}

.number-input.number-input input[type=number] {
    max-width: 4rem;
    padding: .5rem;
    border: 1px solid #ced4da;
    border-width: 0 1px;
    font-size: 1rem;
    height: 2rem;
    color: #495057;
}

@media not all and (min-resolution:.001dpcm) {
    @supports (-webkit-appearance: none) and (stroke-color:transparent) {

        .number-input.def-number-input.safari_only button:before,
        .number-input.def-number-input.safari_only button:after {
            margin-top: -.3rem;

        }
    }
}



.chkbx input[type="checkbox"] {
    display: none;
}

.chkbx {
    position: relative;
    cursor: pointer;
}

.chkbx .x {
    display: block;
    width: 60px;
    height: 30px;
    border: 2px solid #d3d3be;
    border-radius: 60px;
    transition: 0.5s;
}

.chkbx .x:before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: 7px;
    left: 7px;
    box-sizing: border-box;
    background: #d3d3be;
    border: 2px solid #d3d3be;
    border-radius: 40px;
    transition: 0.5s;
}

.chkbx :checked~.x:before {
    background: #fe7f2d;
    border-color: #fe7f2d;
    transform: translatex(30px);
}

.chkbx :checked~.x {
    border-color: #fe7f2d;
}